.App {
  box-sizing: border-box;
  height: 100%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  touch-action: manipulation; /* disable double tab to zoon */
}

.Grid {
  display: flex;
  flex-direction: column;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

.row {
  display: flex;
}

div.cell {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-left: 1px solid black;
  border-top: 1px solid black;
}

.Controls {
  display: flex;
  flex-direction: column;
  margin-top: 3px;
}

.Controls button {
  height: 50px;
  width: 50px;
  padding: 0;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-appearance: none;
  border-radius: 0;
  touch-action: manipulation; /* disable double tab to zoon */
}

.Controls-TopRow,
.Controls-BottomRow {
  display: flex;
  justify-content: center;
}

footer {
  font-size: 14px;
}
