.App {
  display: flex;
  justify-content: center;
}

.Grid {
  display: flex;
  flex-direction: column;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

.row {
  display: flex;
}

div.cell {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-left: 1px solid black;
  border-top: 1px solid black;
}

.Controls {
  display: flex;
  flex-direction: column;
  margin-top: 3px;
}

.Controls button {
  padding: 0;
  height: 30px;
  width: 30px;
  margin: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Controls button span {
  position: relative;
  top: 2px;
}

.Controls-TopRow,
.Controls-BottomRow {
  display: flex;
  justify-content: center;
}
